<p id="notice"><%= notice %></p>

<h1>
  <b>Welcome  &raquo;&raquo;</b>
  <%= @user.name %>
  <b>!!!!</b>
</h1>


<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>
