 body{
        background-color:skyblue;
    }
    h1{
        color:green;
        text-align:center;
    }
    p{
        color:brown;
        text-align:center;
    }
    #Heading
    {
        background-color:skyblue;
    }

